@using OpenAI.GPT3.ObjectModels.RequestModels

@inherits RulesBotChatBase

<div style="display: grid; grid-template-rows: 1fr auto; height: 100%; padding: 24px 0;">
    <MudPaper Elevation="0" Style=@($"background: {(!isDarkMode ? Theme.Palette.BackgroundGrey : Theme.PaletteDark.BackgroundGrey)}; border: 1px solid #e6e6e6; overflow-y: auto; height: 100%")>
        <MudContainer Class="pa-0" Style="height: 100%">
            @if (DataState.ChatMessages.Count == 0)
            {
                <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Style="height: 60%">
                    <MudStack Row="true">
                        <MudAvatar Size="Size.Large">
                            <MudImage Src="images/chatgpt-icon.svg"></MudImage>
                        </MudAvatar>
                        <MudText Typo="Typo.h3">
                            <b>RulesGPT</b>
                        </MudText>
                    </MudStack>
                    <MudText Typo="Typo.subtitle1" Style="font-style: italic">Examples</MudText>
                    <MudStack Class="pt-0">
                        <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.ArrowForward" OnClick="@(() => OnExampleClicked("How do I send a v2 email?"))">
                            How do I send a v2 email?
                        </MudButton>
                        <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.ArrowForward" OnClick="@(() => OnExampleClicked("How can I get better at presenting?"))">
                            How can I get better at presenting?
                        </MudButton>
                        <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.ArrowForward" OnClick="@(() => OnExampleClicked("Give me some rules to better GPT"))">
                            Give me some rules to better GPT
                        </MudButton>
                    </MudStack>
                </MudStack>
            }
            else
            {
                <MudList Class="py-0 chatContainer" DisableGutters="true">
                    @foreach (var message in DataState.CurrentMessageThread.Where(s => s.Message.Role != "system").Select(s => s.Message))
                    {
                        <ChatItem Message="message" />
                    }
                </MudList>
            }
        </MudContainer>
        <MudPopover Open="DataState.IsAwaitingResponse" OverflowBehavior="OverflowBehavior.FlipNever" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomCenter" Paper="false">
            <MudButton Class="mb-3" OnClick="CancelStreamingResponse" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Primary">Cancel Request</MudButton>
        </MudPopover>
    </MudPaper>
    <MudStack Row="true" Class="mt-3">
        <MudTextField Style="height: 100%;" Clearable="true" Disabled="DataState.IsAwaitingResponse" Class="mt-0" @bind-Value="DataState.NewMessageString" OnKeyDown="MessageTextFieldHandleEnterKey" Immediate="true" Label="Ask a question!" Variant="Variant.Outlined"></MudTextField>
        <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="SendMessage">
            <MudIcon Icon="@Icons.Material.Filled.Send"></MudIcon>
        </MudButton>
    </MudStack>
</div>