@using OpenAI.GPT3.ObjectModels.RequestModels
@inject DataState DataState
@inject SswRulesGptDialogService SswRulesGptDialogService
@inject ApiKeyValidationService ApiKeyValidationService
@inject NotifierService NotifierService
@inject SignalRClient SignalR
@inject IJSRuntime Js
@inject ISnackbar Snackbar
@inject IAnalytics Analytics

<style>
    .chat-box {
        max-width: 70%;
    }

    @@media screen and (max-width: 600px) {
        .chat-box {
            max-width: 85%;
        }
    }
</style>

<div style="display: grid; grid-template-rows: 1fr auto; height: 100%; padding: 24px 0;">
    <MudPaper Elevation="0" Style=@($"background: {(!isDarkMode ? Theme.Palette.BackgroundGrey : Theme.PaletteDark.BackgroundGrey)}; border: 1px solid #e6e6e6; overflow-y: auto; height: 100%")>
        <MudContainer Class="pa-0" Style="height: 100%">
            @if (DataState.ChatMessages.Count == 0)
            {
                <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Style="height: 60%">
                    <MudStack Row="true">
                        <MudAvatar Size="Size.Large">
                            <MudImage Src="images/chatgpt-icon.svg"></MudImage>
                        </MudAvatar>
                        <MudText Typo="Typo.h3">
                            <b>RulesGPT</b>
                        </MudText>
                    </MudStack>
                    <MudText Typo="Typo.subtitle1" Style="font-style: italic">Examples</MudText>
                    <MudStack Class="pt-0">
                        <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.ArrowForward" OnClick="@(() => OnExampleClicked("How do I send a v2 email?"))">
                            How do I send a v2 email?
                        </MudButton>
                        <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.ArrowForward" OnClick="@(() => OnExampleClicked("How can I get better at presenting?"))">
                            How can I get better at presenting?
                        </MudButton>
                        <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.ArrowForward" OnClick="@(() => OnExampleClicked("Give me some rules to better GPT"))">
                            Give me some rules to better GPT
                        </MudButton>
                    </MudStack>
                </MudStack>
            }
            else
            {
                <MudList Class="py-0 chatContainer" DisableGutters="true">
                @foreach (var message in DataState.ChatMessages.Where(s => s.Role != "system"))
                {
                    var isUser = message.Role == "user";
                    <MudListItem>
                        @if (isUser)
                        {
                            <MudStack Class="mx-4" Row="true">
                                <MudSpacer/>
                                <MudStack Spacing="1" Class="chat-box">
                                    <MudText Typo="Typo.body1" Align="Align.Right"><b>You</b></MudText>
                                    <MudPaper Elevation="1" Class="px-4 py-3" Style=@(!isDarkMode ? "color: white; background: #323332;" : "")>
                                        <MudText Typo="Typo.body1">@message.Content</MudText>
                                    </MudPaper>
                                </MudStack>
                                <MudAvatar>
                                    <MudIcon Icon="@Icons.Material.Filled.Person"></MudIcon>
                                </MudAvatar>
                            </MudStack>
                        }
                        else
                        {
                            <MudStack Class=@(DataState.ChatMessages.Last() == message ? "mb-12 mt-4 mx-4" : "mx-4") Row="true">
                                <MudAvatar>
                                    <MudImage Src="images/chatgpt-icon.svg"></MudImage>
                                </MudAvatar>
                                <MudStack Spacing="1" Class="chat-box">
                                    <MudText Typo="Typo.body1"><b>RulesGPT</b></MudText>
                                        @if (IsAwaitingResponseStream && string.IsNullOrWhiteSpace(message.Content))
                                        {
                                            <MudPaper Elevation="1" Class="px-4 py-3" Style="text-align: center;">
                                                <MudProgressCircular Size="Size.Small" Color="Color.Secondary" Indeterminate="true" Style="vertical-align: bottom;"/>
                                            </MudPaper>             
                                        }
                                        else
                                        {
                                            <MudPaper Elevation="1" Class="px-4 py-3" Style=@(isDarkMode ? "color: white;" : "")>
                                                <Markdown Content=@message.Content/>
                                            </MudPaper>
                                        }
                                    </MudStack>
                                </MudStack>
                            }
                        </MudListItem>
                    }
                </MudList>
            }
        </MudContainer>
        <MudPopover Open="@DataState.ChatMessages.Any()" OverflowBehavior="OverflowBehavior.FlipNever" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomCenter" Paper="false">
            @if (IsAwaitingResponse)
            {
                <MudButton Class="mb-3" OnClick="CancelStreamingResponse" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Primary">Cancel Request</MudButton>
            }
            else
            {
                <MudButton Class="mb-3" OnClick="DataState.ClearHistory" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Primary">New Chat</MudButton>
            }
        </MudPopover>
    </MudPaper>
    <MudStack Row="true" Class="mt-3">
        <MudTextField Style="height: 100%;" Clearable="true" Disabled="IsAwaitingResponse" Class="mt-0" @bind-Value="NewMessageString" OnKeyDown="MessageTextFieldHandleEnterKey" Immediate="true" Label="Ask a question!" Variant="Variant.Outlined"></MudTextField>
        <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="SendMessage">
            <MudIcon Icon="@Icons.Material.Filled.Send"></MudIcon>
        </MudButton>
    </MudStack>
</div>


@code {
    [CascadingParameter] protected MudTheme Theme { get; set; } 
    [CascadingParameter] protected bool isDarkMode { get; set; }
    
    [Parameter] public EventCallback OnClearHistoryEvent { get; set; }

    public string NewMessageString { get; set; } = string.Empty;
    public bool IsAwaitingResponseStream { get; set; } = false;
    private bool IsAwaitingResponse { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        NotifierService.Notify += OnNotify;
        NotifierService.CancelMessageStreamEvent += OnCancelMessageStream;
        // Only for use when styling
        //DataState.ChatMessages.Add(new ChatMessage("user", "Hello, I'm a user"));
        //DataState.ChatMessages.Add(new ChatMessage("assistant", "1. hello there https://ssw.com.au \r\n 2. hello there \r\n \r\n How are you? \r\n Things are going well \r\n * hi there \r\n * how are you doing? \r\n \r\n | Tables | Are | Cool | \r\n | ------------- | :-----------: | -----: | \r\n | col 3 is | right-aligned | $1600 | \r\n | col 2 is | centered | $12 | \r\n | zebra stripes | are neat | $1 |"));
    }

    private async Task OnClearHistoryClicked() => await OnClearHistoryEvent.InvokeAsync();

    private async Task OnExampleClicked(string message)
    {
        NewMessageString = message;
        await SendMessage();
    }

    public async Task SendMessage()
    {
        if (string.IsNullOrWhiteSpace(NewMessageString))
        {
            return;
        }
        
        if (SignalR.GetConnectionState() == SignalRClient.StatusHubConnectionState.Disconnected)
        {
            try
            {
                await SignalR.StartAsync(DataState.CancellationTokenSource.Token);
            }
            catch (HttpRequestException e)
            {
                Snackbar.Add("Unable to connect to SSW RulesGPT", Severity.Error);
                return;
            }
        }

        _= Analytics.TrackEvent("SendMessage", new { message = NewMessageString, ownKey = DataState.OpenAiApiKey != null });
        
        var newChatMessage = new ChatMessage("user", NewMessageString);
        NewMessageString = string.Empty;
        DataState.ChatMessages.Add(newChatMessage);

        var newAssistantMessage = new ChatMessage("assistant", string.Empty);

        DataState.ChatMessages.Add(newAssistantMessage);
        IsAwaitingResponseStream = true;
        IsAwaitingResponse = true;
        StateHasChanged();

        
        await JsScrollMessageListToBottom();

        var resultStream = SignalR.RequestNewCompletionMessage(
            DataState.ChatMessages,
            DataState.OpenAiApiKey,
            DataState.SelectedGptModel,
            DataState.CancellationTokenSource.Token );
        
        await JsScrollMessageListToBottom();
        await foreach (var result in resultStream.WithCancellation(DataState.CancellationTokenSource.Token))
        {
            IsAwaitingResponseStream = false;
            newAssistantMessage.Content += result?.Content;
            
            StateHasChanged();
            await Js.InvokeVoidAsync("highlightCode");
            await JsScrollMessageListToBottom();
        }
        IsAwaitingResponseStream = false;
        IsAwaitingResponse = false;
        DataState.CancellationTokenSource.Dispose();
        DataState.CancellationTokenSource = new CancellationTokenSource();
    }

    async Task MessageTextFieldHandleEnterKey(KeyboardEventArgs args)
    {
        if (args is { Key: "Enter", ShiftKey: false })
        {
            await SendMessage();
        }
    }

    public async Task OnNotify()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    
    public async Task OnCancelMessageStream()
    {
        await InvokeAsync(() =>
        {
            CancelStreamingResponse();
        });
    }

    public void Dispose()
    {
        NotifierService.Notify -= OnNotify;
        NotifierService.CancelMessageStreamEvent -= OnCancelMessageStream;
    }
    
    private async Task JsScrollMessageListToBottom()
    {
        await Js.InvokeVoidAsync("scrollLatestMessageIntoView");
    }
    
    private async Task CancelStreamingResponse()
    {
        DataState.CancellationTokenSource.Cancel();
        DataState.CancellationTokenSource.Dispose();
        var lastAssistantMessage = DataState.ChatMessages.LastOrDefault(s => s.Role == "assistant");
        if (lastAssistantMessage is not null && string.IsNullOrWhiteSpace(lastAssistantMessage?.Content))
        {
            DataState.ChatMessages.Remove(lastAssistantMessage);
        }
        IsAwaitingResponse = false;
        IsAwaitingResponseStream = false;
        DataState.CancellationTokenSource = new CancellationTokenSource();
    }
}
